.richEditor {

}

.richEditor :global(.public-DraftEditorPlaceholder-root) {
  opacity: 0.6;
}

.toolbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 6px 4px 6px;
}

.textArea {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  padding: 8px 12px;
}

.textArea :global(blockquote) {
  margin-bottom: 6px;
}
