.richEditorLinkInputForm {
  display: inline-flex;
  flex-wrap: wrap;
}

.form {
  display: flex;
  flex-direction: column;
  flex: 5 0 auto;
}

.input {
  border: none;
  margin-bottom: 6px;
  display: flex;
  flex: 1;
  font-size: 16px;
}

.input::placeholder {
  color: #333;
  opacity: 0.6;
}

.input:focus {
  outline: none;
}

.input:last-child {
  margin-bottom: 0;
}

.buttonsBlock {
  align-items: center;
  display: flex;
  flex: 1 0 10%;
  justify-content: space-around;
}

.cancelButton {
  margin: 0 12px;
}
