.richEditorLinkInputForm {
  display: inline-flex;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  flex: 5 0 auto;
}

.formInput {
  display: flex;
  margin-bottom: 12px;
}

.applyButton {
  margin-right: 8px;
}

.buttonsBlock {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}
